.form-screen {
  background: #fff;
  padding: 15px 18px;
  border: 1px solid #e1e1e1;
  margin: auto;
  display: flex;
}

.m-auto {
  margin: auto;
}

.form-content {
  padding-left: 50px;
  width: 100%;
}

.group-btn {
  display: flex;
  justify-content: space-between;
}

.uploaded-img {
  position: relative;
  width: 130px;
  height: 130px;
}

.uploaded-img img {
  width: 130px;
  height: 130px;
  background-color: #f5f5f5;
}

.uploaded-img button {
  position: absolute;
  border: none;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  right: 0;
  top: 0;
  cursor: pointer;
}
